__pycache__/parking.cpython-38.pyc
__pycache__/parking.cpython-38.pyc
__pycache__/test_simulation.cpython-38-pytest-6.2.2.pyc
__pycache__/parking.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/test_simulation.cpython-38-pytest-6.2.2.pyc
__pycache__/test.cpython-38-pytest-6.2.2.pyc
__pycache__/parking.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/parking.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/test_simulation.cpython-38-pytest-6.2.2.pyc
__pycache__/vehicle.cpython-38.pyc
__pycache__/
__pycache__/parking.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/test_simulation.cpython-38-pytest-6.2.2.pyc
__pycache__/inputs.cpython-38.pyc
__pycache__/parking.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/test_inputs.cpython-38-pytest-6.2.2.pyc
__pycache__/test_parking.cpython-38-pytest-6.2.2.pyc
__pycache__/test_simulation.cpython-38-pytest-6.2.2.pyc
__pycache__/vehicle.cpython-38.pyc
__pycache__/display.cpython-38.pyc
__pycache__/inputs.cpython-38.pyc
__pycache__/parking.cpython-38.pyc
__pycache__/test_display.cpython-38-pytest-6.2.2.pyc
__pycache__/test_inputs.cpython-38-pytest-6.2.2.pyc
__pycache__/test_performances.cpython-38-pytest-6.2.2.pyc
__pycache__/test_simulation.cpython-38-pytest-6.2.2.pyc
__pycache__/test_vehicle.cpython-38-pytest-6.2.2.pyc
__pycache__/vehicle.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/test_simulation.cpython-38-pytest-6.2.2.pyc
__pycache__/display.cpython-38.pyc
__pycache__/input_gen.cpython-38.pyc
__pycache__/inputs.cpython-38.pyc
__pycache__/performances.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/test_display.cpython-38-pytest-6.2.2.pyc
__pycache__/test_inputs.cpython-38-pytest-6.2.2.pyc
__pycache__/test_performances.cpython-38-pytest-6.2.2.pyc
__pycache__/test_vehicle.cpython-38-pytest-6.2.2.pyc
__pycache__/vehicle.cpython-38.pyc
inputs/movements.csv
log.txt
